<app-navbar></app-navbar>
<main class="overflow-hidden">
  <section data-aos="fade-up" data-aos-duration="1000" class="hero-section">
    <app-happy-pets></app-happy-pets>
  </section>

  <section data-aos="fade-up" data-aos-delay="200" class="service-section">
    <app-service-showcase></app-service-showcase>
  </section>

  <section data-aos="fade-up" data-aos-delay="400" class="feature-section">
    <app-feature-highlight></app-feature-highlight>
  </section>
</main>
<app-footer data-aos="fade-up" data-aos-delay="600"></app-footer>